body {
    min-width: 1000px;
    background-color: darkcyan;
}
.center {
    background-color: lightgrey;
    margin: auto;
    margin-top: 25px;
    width: 50%;
    border: 1px solid black;
    text-align:center;
}
.item {
    background-color: white;
    border: 1px solid black;
    margin: auto;
    max-width: 80%;
    min-height: 10px;
    margin-bottom: 10px;
}
.lang {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: -25px;
    text-align: right;
}
.lang a {
    margin: 2px;
}